<div class="container">
  <div class="row text-center">
        <div class="col-lg-12">
          <h2 class="my-4">Product Genius</h2>
        </div>
        <div class="col-lg-6">
          <img width='150' src="https://res.cloudinary.com/wagon/image/upload/c_fill,g_face,h_200,w_200/rc48pqehvoajs8brfrvy.jpg" alt="" class="img-circle">

          <h3>Nacho</h3>
          <a href="https://github.com/nachoal"><i class="fab fa-github"></i></a>
          <p>I was a Product Manager at an e-commerce business. I came to LeWagon to be more proficient with coding and be able to earn money from internet businesses by creating digital products</p>
        </div>
        <div class="col-lg-6">
          <img width='150' src="https://res.cloudinary.com/wagon/image/upload/c_fill,g_face,h_200,w_200/edmltvhaogajhjh5wigo.jpg" alt="" class="img-circle">
          <h3>Sophia

          </h3>
          <a href="https://github.com/SophHa"><i class="fab fa-github"></i></a>
          <p>I studied law and have been working in the medical devices sector for the past 6 years. I would like to learn to code, as I am planning to work on a project which involves close work with developers.</p>
        </div>
        <div class="col-lg-6">
          <img width='150' src="https://avatars3.githubusercontent.com/u/14789852?v=4" alt="" class="img-circle">
          <h3>Guillaume

          </h3>
          <a href="https://github.com/oulrij"><i class="fab fa-github"></i></a>
          <p>Executive turned entrepreneur with 16+ years experience in Internet/software/technology business management with expertise in strategy, marketing and sales.</p>
        </div>
        <div class="col-lg-6">
          <img width='150' src="https://res.cloudinary.com/wagon/image/upload/c_fill,g_face,h_200,w_200/klkqfxpzdaxybutvmdif.jpg" alt="" class="img-circle">
          <h3>Andy

          </h3>
          <a href="https://github.com/shigzi"><i class="fab fa-github"></i></a>
          <p>Before coming to Le Wagon I was working in the construction field with my father. Decided to join Le Wagon to challenge myself and learn computer programming. That is something I have been wanting to learn for a very long time now. Very much new to this world of technology.</p>
        </div>
        </div>
      </div>

    </div>
</div>
<hr>
<div class="container">
  <h2 class="text-center">Our story</h2>
          <p class="text-center" style="color: black; font-weight: bolder;">

            We developed this application because we think there's a problem when looking for a rental space to throw a party.
          </p>
        </div>
      </div>
    </div>
    <div class="container" style="margin-top: 20px">
      <div class="row text-center">
        <div class="col-md-4"><i style="font-size: 110px; color: #5BBCFF"  class="fas fa-handshake" ></i>
        <p>Agree</p></div>
        <div class="col-md-4"><i style="font-size: 110px; color: #85B965" class="fas fa-dollar-sign"></i>
        <p>Profit off your rentals</p></div>
        <div class="col-md-4"><i style="font-size: 110px; color: #DBC328" class="fas fa-smile"></i>
          <p>Everyones happy</p></div>
      </div>
    </div>
