 <div class="rentals-form">
    <div class="rentals-form-title">
      <h2 class="space_price">MXN <%= @space.price %> per night</h2>
    </div>
    <div>
      <p>Start date: <%= @rental.start_date %> </p>
      <p>End date: <%= @rental.end_date %></p>
    </div>
    <div>
      <h2>Total price calculation: MXN <%= @total_price %></h2>
    </div>
  </div>
</div>
