<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.1) 0%, rgba(0,36,61,0.1) 50%), url('https://images.unsplash.com/photo-1534353341328-aede12f06b84');">
  <div class="banner-content">
    <h1>Find the right venue for your event</h1>
    <p>The best venues for conferences, meetings, wedding and parties.</p>
    <a class="btn btn-primary btn-lg">Start now</a>
  </div>
</div>

<div class="container">
  <%= render 'shared/card_space' %>
</div>
